* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


html,
body {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;

    /* Hace que la etiqueta a se comporte como un bloque sin afectar el tamaño del botón */
    /* Otros estilos para los enlaces */
}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url(imagenes/main2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -150px -120px;
}

:root {
    --primary: rgba(94, 109, 189, 0.8);
    ;
    --white: #ffffff;
    --bg: #f5f5f5;
}


::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-thumb {
    background-color: #5271FF;
    transition: all 0.5s ease-in-out;
}



::-webkit-scrollbar-track {
    background: #f9f9f9;
}

.contacto-celular {
    display: none;
}

.logo-whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.2rem;
}

.logo-whatsapp-img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.97;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
}

.logo-whatsapp-img:hover {
    transform: scale(1.07);
    transition: .5s;
}



#header {
    width: 100%;
    /* margin-top: 2rem; */
    /* backdrop-filter: blur(2px); */
    /* background-color: rgba(16, 137, 158, 0.2); */
}

.tel-header {
    position: absolute;
    font-family: 'Ysabeau Infant', sans-serif;
    top: 0;
    right: 0;
    padding: 1rem;
    margin: .3rem;
    font-weight: bold;
    background-color: rgba(157, 172, 238, 0.7);
}

.logo-header {
    height: 12rem;
    width: 12rem;
    margin-left: 1rem;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    margin-left: -10rem;
}

.nav-item {
    margin: 0px 30px 0px 30px;
    border-bottom: 1px solid #888;
}

.nav-item:hover {
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.05);
    transition: ease-in
}


.nav-link {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px !important;
    font-weight: bold;
}

.nav-link:hover {
    color: #2464a5 !important;
}


#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#seccion1,
#seccion2,
#seccion3 {
    width: 100%;
    height: 40rem;
    margin-top: 4rem;
}

/* S E C C I O N   1 */

#seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.05));
}

.div-seccion1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 33rem;
    /* border: 1px solid green; */
    margin-top: -12rem;
}

.div-seccion1:nth-child(1) {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.div-seccion1:nth-of-type(2) {
    background-image: none !important;
}

.div-seccion1-texto {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px;
    color: #6c6c6c;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 500;

}

.div-seccion1-texto span {
    font-size: 3.1rem;
    border-bottom: 1px solid #5271FF;
    margin: 10px;
    color: #5271FF;
}



.div-seccion1-imagen {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    height: 85%;
    width: 85%;
    margin-top: 1.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.div-seccion1-aclaracion {
    font-size: 1.05rem;
    font-weight: 300;
    margin: 30px;
    color: #111;
    text-align: center;
}

.div-seccion1-aclaracion span {
    font-weight: bolder;
    color: #5271FF;
    display: inline;
    text-transform: capitalize;
}

.div-seccion1-boton {
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #5271FF;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    margin-top: 50px;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.div-seccion1-boton:hover {
    color: #000000;
}

.div-seccion1-boton span {
    position: absolute;
    background: rgb(0, 0, 0);
    transition: 0.5s;
}

.div-seccion1-boton span:nth-child(1) {
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
}

.div-seccion1-boton span:nth-child(2) {
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
}

.div-seccion1-boton span:nth-child(3) {
    width: 2px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.div-seccion1-boton span:nth-child(4) {
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
}

.div-seccion1-boton:hover span:nth-child(1) {
    left: 0;
}

.div-seccion1-boton:hover span:nth-child(2) {
    right: 0;
}

.div-seccion1-boton:hover span:nth-child(3) {
    bottom: 0;
}

.div-seccion1-boton:hover span:nth-child(4) {
    top: 0;
}

/* S E C C I O N   1 */



/* S E C C I O N   2 */

#seccion2 {
    margin-top: -10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7, transparent));
}


.div-seccion2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}




.div-seccion2-titulo {
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    font-size: 1.7rem;
    /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
}

.div-seccion2-texto {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.1rem;
    /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
    color: rgb(0, 0, 0);
    text-align: justify;
    letter-spacing: -1.5px;
    /* margin: 10px; */
    font-weight: bolder;
}

.div-seccion2-texto span {
    color: #2c50ef;
}

/* .div-seccion2-titulo {
    color: #444;
} */

.tools {
    height: 70px;
    width: 70px;
    border-radius: 3%;
    padding: 0.1rem;
    background-color: #2c50ef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin: 1rem;
}







/* S E C C I O N   2 */


/* S E C C I O N   3 */
#seccion3 {
    margin-top: 0rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
}



.div-seccion3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 37rem;
    height: 33rem;
    background-image: linear-gradient(to bottom, rgba(44, 80, 239, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
}

.modal-header {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.div-seccion1-boton:nth-child(2) {
    font-size: 1rem;
    box-shadow: none;
    border-radius: 3px;
}


/* S E C C I O N   3 */



/* F O O T E R */

#footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    height: 18rem;
    width: 100%;
    background-color: rgba(82, 113, 255, 0.9);
    border-top: 1px solid #888;
}

.footer-text-container {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
}

.footer-text {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
    gap: 10px;
}

.card-footer {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
    width: 45px;
    height: 45px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.socialContainer:hover {
    transform: scale(1.05);
}




/* F O O T E R */



@media only screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
        background-position: center -300px;
    }

    .tel-header {
        display: none;
    }

    .logo-whatsapp {
        display: none;
    }


    .contacto-celular {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        transition: transform 0.3s ease-out;
    }

    .contacto-celular.fixed {
        transform: translateY(0);
    }


    .contacto-celular-llamar,
    .contacto-celular-whatsapp {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .contacto-celular-boton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.2rem;
        gap: .6rem;
        background-color: rgb(169, 181, 233);
    }

    .bx-phone,
    .bxl-whatsapp {
        font-size: 19px;
    }


    .contacto-celular-boton p,
    .contacto-celular-boton i {
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 600;
        padding-top: .5rem;
        align-self: baseline;
        color: rgb(0, 0, 0);
    }



    #seccion1,
    #seccion2 {
        transform: scale(0.95);
    }

    #seccion1 {
        margin-top: 8.7rem;
    }

    #seccion2 {
        margin-top: -25rem;
        margin-bottom: 1rem;
    }


    .logo-header {
        transform: scale(0.8);
        margin-left: -20px;
    }

    .div-seccion1:nth-child(1) {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .div-seccion1-texto {
        font-size: 1.6rem;
        text-align: center;
        margin: 10px;
        color: #4e4c4c;
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 500;
    }


    .div-seccion1-texto span {
        font-size: 2.2rem;
    }

    .div-seccion1-boton {
        padding: 5px 10px;
        margin-top: -.8rem;
        font-size: 1.1rem;
    }

    .boton-seccion2 {
        margin-top: 1rem;
    }

    .div-seccion1-aclaracion {
        margin-top: .6rem;
        font-size: .9rem;
        font-weight: 400;
    }

    .div-seccion1-imagen {
        display: none;
    }

    .elemento {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    .div-seccion2 {
        margin-top: 0rem;
        background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), transparent);
    }

    .div-seccion2-texto {
        font-size: 1rem;
    }

    .div-seccion2-texto,
    .div-seccion2-titulo,
    .tools {
        margin-top: 0rem;
        transform: scale(0.95);
    }



    #footer {
        margin-bottom: 3rem;
        padding: 1rem;
        height: auto;
    }

    .footer-text-container {
        transform: scale(0.9);
    }

    .footer-text h3,
    .footer-text h4 {
        font-size: 10rem;
    }
}

/* TABLET PEQUEÑA */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .div-seccion1-imagen {
        display: none;
    }

    #seccion1 {
        margin-top: 8rem;
    }
    #seccion2 {
        margin-top: -20rem;
        margin-bottom: 4rem;
    }
}


@media (max-width: 768px) and (orientation: landscape) {
    #seccion1 {
        margin-top: 10rem;
    }

    #seccion2 {
        margin-top: -25rem;
        margin-bottom: 5rem;
    }

    #seccion3 {
        margin-top: 25rem;
    }


    .div-seccion1-imagen {
        display: none;
    }

    .div-seccion2 {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .div-seccion2-titulo:first-child {
        transform: scale(0.5);
    }

    .elemento {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }
}

/* EMPIEZA MEDIAQUERY PARA T A B L E T */

@media (min-width: 768px) and (max-width: 992px) {
    .div-seccion1-imagen {
        display: none;
    }

    .contacto-celular {
        height: 4rem;
    }

    #seccion1 {
        margin-top: 10rem;
    }

    #seccion2 {
        margin-top: -25rem;
        margin-bottom: -4rem;
    }

    .elemento {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    .div-seccion1-texto {
        font-size: 1.7rem;
        text-align: center;
        margin: 10px;
        color: #4e4c4c;
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 500;
    }

    .div-seccion1-texto span {
        font-size: 1.9;
    }

    .div-seccion1-aclaracion {
        transform: scale(0.9);
        font-weight: 600;
    }

    .div-seccion1-imagen {
        transform: scale(0.5);
    }

    .div-seccion2 {
        background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), transparent);
    }

    .div-seccion2-texto {
        width: 12rem;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1199px){
    body {
        background-position: center top;
    }

    .div-seccion1 {
        padding-right: 7rem;
        padding-left: 7rem;
        transform: scale(1.1);
    }

    .div-seccion2 {
        background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), transparent);
    }

    #seccion2 {
        margin-top: 1rem;
        transform: s;
    }

}

@media only screen and (min-width: 1200px){
    body {
        background-position: center top;
    }

    .div-seccion1 {
        padding-right: 7rem;
        padding-left: 7rem;
        transform: scale(1.2);
    }


    #seccion2 {
        margin-top: 1rem;
        transform: s;
    }

    .div-seccion2 {
        background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), transparent);
    }
    #seccion3{
        margin-top: 4rem;
    }

    .div-seccion3 {
        width: 60rem;
        height: 40rem;
    }
}

